[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eucalypt-pygments = {editable = true, git = "https://github.com/curvelogic/eucalypt-pygments.git"}
mkdocs = "*"
PyYAML = ">=4.2b1"

[dev-packages]

[requires]
python_version = "3.7"
