name: eucalypt publish

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  generate-homebrew-formula:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: build and install temporary eu
        run: cargo install --path .
      - name: generate homebrew formula
        run: |
          eu -t formula-sh > generate.sh
          chmod +x generate.sh
          ./generate.sh > eucalypt.rb
      - name: upload formula
        uses: actions/upload-artifact@v4
        with:
          name: eucalypt.rb
          path: eucalypt.rb
